.container{
	background-image:url(containerbg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100vw;
	margin: auto;
	padding: 30px;
}

.table {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	background: #EE6C4D;
}

.leftcolumn {
	float: left;
	width: 45%
}

.rightcolumn {
	float: right;
	width: 45%
}
.button{
	background-color: #3D5A80;
	border: 3px #07455E	 solid;
	color: #06081A;
}
.button:hover{
	background-color: #AFFC41;
	border: 3px #6BB503 solid;
	color: #06081A;
}
.panel-1{
	background-color:#577D9E;
	border-left: 5px #3D5A80 solid;
	border-bottom: 5px #2B3F59 solid;
	padding: 20px;
	margin: 80px;
	color: #06081A;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

.gallery {
	display: block;
	margin-left: 20px;
	margin-right: auto;
	float: left;
	width: 30%;
	padding: 5px;
}

.footer p {
	text-align: center;
	padding-bottom: 50px;
}
	
html, body {background: #293241; font-family: Tahoma, Geneva, sans-serif; font-size: 16px; color: #e0fce7; font-weight:normal;}

p, ul, h1, h2, h3, figcaption {
	margin-left: 100px;
	margin-right: 100px;
}

h1 {
	text-transform: uppercase;
	text-shadow:-2px 2px #2B3F59;
	letter-spacing: 2px;
	color: #E0FBFC;
	}

h2 {
	font-weight: normal;
	font-size: 26;
}

h3 {
	font-size: 20;
	color: #E0FBFC
}

hr {
  border-style: dashed;
  color: #E0FBFC;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	width: 75%;
	border: 5px solid;
	border-color: #293241;
}

figcaption {
	line-height: 50px;
	text-align: center;
}	

a:link {
	color: #E0FBFC;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #3D5A80;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #EE6C4D;
	background-color: transparent;
	text-decoration: underline;
}

a:link:active {
	color: #E0FBFC;
}
